# Summary of the data collecting and wrangling process:


The central Airbnb datasets were pulled from Kaggle featuring - ostensibly - attributes affecting price. The primary features embedded within these datasets are: 

1. Price, 
2. Room type, 
3. Shared room(?)
4. Private room(?)
5. Person capacity
6. Superhost(?)
7. Multi room(?),
8. Business purpose(?)
9. Cleanliness rating
10. Guest satisfaction rating
11. Bedroom number
12. Distance from city center
13. Distance from metro.  

Furthermore, because the primary Airbnb datasets are sourced and aggregated from various European cities, locating supplementary socio-economic and socio-cultural variables for each respective Euroean city to append as additional features was attempted. However, sourcing additional relevant indicators, proved difficult, but simple datasets were extracted from Wikipedia and Kaggle. These supplemental factors were affixed as additional columns within the primary Airbnb dataset:

1. City gdp
2. Metropolitan population, 
3. City's area (in km2), and . 

Because all thirteen datasets were pulled from Kaggle or Wikipedia, there was minimal need for cleaning null values or duplicates. The Wikipedia table was converted into .csv via the website, https://wikitable2csv.ggor.de/. 

Joining, concatenating, and merging all datasets into one coherent table became the most onerous process. For the ten European city datasets, new weekday vs. weekend columns for the respective city_weekend and city_weekday tables were created to permanently label these datasets for subsequent merges. After concatenating each city's weekend and weekday datasets together into one coherent city dataset, the ten cities' were merged into one unified European dataset. 

Subsequently, two new csvs containing each cities's gdp, population, area were appended onto their respective cities. This extra layer will hopefully permit a slightly more robust analysis of Airbnb factors that determine price, not merely via Airbnb room characteristics, but also through external socio-cultural or economic conditions influencing consumer psychology throughout these European cities. 

Note: More granular technical details of the data wrangling process are included below.

In [2]:
import numpy as np
import seaborn as sns
import matplotlib

In [3]:
import pandas as pd

In [4]:
#Import all the datasets

amsterdam_weekdays = pd.read_csv('amsterdam_weekdays.csv')
amsterdam_weekends = pd.read_csv('amsterdam_weekends.csv')
athens_weekdays = pd.read_csv('athens_weekdays.csv')
athens_weekends = pd.read_csv('athens_weekends.csv')
barcelona_weekdays = pd.read_csv('barcelona_weekdays.csv')
barcelona_weekends = pd.read_csv('barcelona_weekends.csv')
berlin_weekdays = pd.read_csv('berlin_weekdays.csv')
berlin_weekends = pd.read_csv('berlin_weekends.csv')
budapest_weekdays = pd.read_csv('budapest_weekdays.csv')
budapest_weekends = pd.read_csv('budapest_weekends.csv')
lisbon_weekdays = pd.read_csv('lisbon_weekdays.csv')
lisbon_weekends = pd.read_csv('lisbon_weekends.csv')
london_weekdays = pd.read_csv('london_weekdays.csv')
london_weekends = pd.read_csv('london_weekends.csv')
paris_weekdays = pd.read_csv('paris_weekdays.csv')
paris_weekends = pd.read_csv('paris_weekends.csv')
rome_weekdays = pd.read_csv('rome_weekdays.csv')
rome_weekends = pd.read_csv('rome_weekends.csv')
vienna_weekdays = pd.read_csv('vienna_weekdays.csv')
vienna_weekends = pd.read_csv('vienna_weekends.csv')

In [5]:
#Print all the dataset's dimensions
print('amsterdam_weekdays shape = ' + str(amsterdam_weekdays.shape))
print('amsterdam_weekends shape = ' + str(amsterdam_weekends.shape))
print('athens_weekdays shape = ' + str(athens_weekdays.shape))
print('athens_weekends shape = ' + str(athens_weekends.shape))
print('barcelona_weekdays shape = ' + str(barcelona_weekdays.shape))
print('barcelona_weekends shape = ' + str(barcelona_weekends.shape))
print('berlin_weekdays shape = ' + str(berlin_weekdays.shape))
print('berlin_weekends shape = ' + str(berlin_weekends.shape))
print('budapest_weekdays shape = ' + str(budapest_weekdays.shape))
print('budapest_weekends shape = ' + str(budapest_weekends.shape))
print('lisbon_weekdays shape = ' + str(lisbon_weekdays.shape))
print('lisbon_weekends shape = ' + str(lisbon_weekends.shape))
print('london_weekdays shape = ' + str(london_weekdays.shape))
print('london_weekends shape = ' + str(london_weekends.shape))
print('paris_weekdays shape = ' + str(paris_weekdays.shape))
print('paris_weekends shape = ' + str(paris_weekends.shape))
print('rome_weekdays shape = ' + str(rome_weekdays.shape))
print('rome_weekends shape = ' + str(rome_weekends.shape))
print('vienna_weekdays shape = ' + str(vienna_weekdays.shape))
print('vienna_weekends shape = ' + str(vienna_weekends.shape))

amsterdam_weekdays shape = (1103, 20)
amsterdam_weekends shape = (977, 20)
athens_weekdays shape = (2653, 20)
athens_weekends shape = (2627, 20)
barcelona_weekdays shape = (1555, 20)
barcelona_weekends shape = (1278, 20)
berlin_weekdays shape = (1284, 20)
berlin_weekends shape = (1200, 20)
budapest_weekdays shape = (2074, 20)
budapest_weekends shape = (1948, 20)
lisbon_weekdays shape = (2857, 20)
lisbon_weekends shape = (2906, 20)
london_weekdays shape = (4614, 20)
london_weekends shape = (5379, 20)
paris_weekdays shape = (3130, 20)
paris_weekends shape = (3558, 20)
rome_weekdays shape = (4492, 20)
rome_weekends shape = (4535, 20)
vienna_weekdays shape = (1738, 20)
vienna_weekends shape = (1799, 20)

In [6]:
#Examine all the columns for each city's dataset
print(amsterdam_weekdays.columns)
print(amsterdam_weekends.columns)
print(athens_weekdays.columns)
print(athens_weekends.columns)
print(barcelona_weekdays.columns)
print(barcelona_weekends.columns)
print(berlin_weekdays.columns)
print(berlin_weekends.columns)
print(budapest_weekdays.columns)
print(budapest_weekends.columns)
print(lisbon_weekdays.columns)
print(lisbon_weekends.columns)
print(london_weekdays.columns)
print(london_weekends.columns)
print(paris_weekdays.columns)
print(paris_weekends.columns)
print(rome_weekdays.columns)
print(rome_weekends.columns)
print(vienna_weekdays.columns)
print(vienna_weekends.columns)

Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')

In [7]:
#Each city's columns has the same features, which allows us to join these files easily with the concatenate function

In [8]:
#However, before concatenating all the city's datasets together, let's examine the dataset features/colunmns more closely
#Let's examine Amsterdam first
amsterdam_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [9]:
#The 'Unnamed: 0' column is redundant, since we can just use the index, so let's remove this column
amstdrop = amsterdam_weekdays.drop(columns=['Unnamed: 0'])
amstdrop.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [10]:
#Let's also add a new column 'Weekday' to signal that the data in this dataset belongs to the 'weekday' dataset
#This step becomes critical after we eventually concatenate all the datasets together
amstdrop['Weekday/Weekend'] = 'Weekday'
amstdrop.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday

In [11]:
#let's repeat the above modifications also for amsterdam_weekend.csv
amstdrop2 = amsterdam_weekends.drop(columns=['Unnamed: 0'])
amstdrop2['Weekday/Weekend'] = 'Weekend'
amstdrop2.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Weekend
1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Weekend
2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Weekend
3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Weekend
4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Weekend

In [12]:
#Let's concatenate Amsterdam's weekday csv with its weekend csv
amstconcat = pd.concat([amstdrop, amstdrop2])
amstconcat.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday

In [13]:
#I'm sampling the new merged file to double-check that some records have 'weekday' and 'weekend' respectively to check if this file was merged correctly
amstconcat.sample(10)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
47,983.291543,Entire home/apt,False,False,3.0,True,0,0,10.0,100.0,2,1.430511,1.352587,322.018769,17.051108,423.352724,29.499827,4.87317,52.36917,Weekday
485,288.707145,Private room,False,True,2.0,False,1,0,8.0,75.0,1,0.680393,0.449396,610.166838,32.308739,958.138923,66.764499,4.89037,52.36735,Weekday
174,221.451503,Private room,False,True,2.0,True,1,0,10.0,100.0,1,10.853493,0.764035,42.025121,2.225258,52.241712,3.640278,4.99856,52.30013,Weekday
961,460.712863,Entire home/apt,False,False,4.0,False,1,0,9.0,91.0,1,3.848078,1.725166,100.407806,5.316660,125.805030,8.766275,4.90817,52.40657,Weekday
1072,847.842898,Private room,False,True,2.0,True,1,0,10.0,100.0,1,1.568698,0.668332,642.431578,34.017179,621.729750,43.323024,4.88131,52.36112,Weekday
321,1118.271507,Entire home/apt,False,False,4.0,False,0,0,10.0,95.0,3,1.960116,0.247798,462.950002,24.513510,521.452438,36.335556,4.88954,52.35575,Weekday
328,442.668666,Private room,False,True,2.0,False,0,0,9.0,88.0,1,0.289513,0.449392,614.687399,32.544883,829.503439,72.312788,4.89548,52.37539,Weekend
51,469.617791,Private room,False,True,2.0,True,1,0,10.0,98.0,1,0.975065,1.105002,355.616234,18.828251,528.565206,46.078198,4.88400,52.38000,Weekend
725,1714.433014,Private room,False,True,4.0,False,0,0,8.0,100.0,4,0.622139,0.343192,486.255807,25.747568,726.569260,50.628391,4.90161,52.37527,Weekday
650,694.584398,Entire home/apt,False,False,2.0,True,0,0,9.0,95.0,1,1.729186,0.496357,389.708439,20.633277,432.223800,37.679540,4.89650,52.35783,Weekend

In [14]:
#Let's add a new column to specify that these datapoints belong to Amsterdam
#This steps becomes critical after we eventually concatenate all the city datasets together
amstconcat['City'] = 'Amsterdam'
amstconcat.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,City
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday,Amsterdam
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday,Amsterdam
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday,Amsterdam
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday,Amsterdam
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday,Amsterdam

In [15]:
#The above steps finished cleaning and concatenating the two Amsterdam csv's. 
#These steps have to be repeated for each city, which is time-consuming
#To save time, I will create a new function that replicates the above clean/merge tasks and apply this function for each city

def aggregate(csv1,col1,csv2,col2,city):      
    csv1['Weekday/Weekend'] = col1
    csv2['Weekday/Weekend'] = col2
    csv1.drop(columns = ['Unnamed: 0'],inplace=True)
    csv2.drop(columns = ['Unnamed: 0'],inplace=True)
    newconcatfile = pd.concat([csv1, csv2])
    newconcatfile['city'] = city
    return newconcatfile

#This function is a condensed version of all the above cleaning/wrangling tasks.

In [16]:
#Applying the aggregate function for each city (including repeating it for Amsterdam)
amsterdam = aggregate(amsterdam_weekdays,'weekdays',amsterdam_weekends,'weekends','amsterdam')
athens = aggregate(athens_weekdays,'weekdays',athens_weekends,'weekends','athens')
barcelona = aggregate(barcelona_weekdays,'weekdays',barcelona_weekends,'weekends','barcelona')
berlin = aggregate(berlin_weekdays,'weekdays',berlin_weekends,'weekends','berlin')
budapest = aggregate(budapest_weekdays,'weekdays',budapest_weekends,'weekends','budapest')
lisbon = aggregate(lisbon_weekdays,'weekdays',lisbon_weekends,'weekends','lisbon')
london = aggregate(london_weekdays,'weekdays',london_weekends,'weekends','london')
paris = aggregate(paris_weekdays,'weekdays',paris_weekends,'weekends','paris')
rome = aggregate(rome_weekdays,'weekdays',rome_weekends,'weekends','rome')
vienna = aggregate(vienna_weekdays,'weekdays',vienna_weekends,'weekends','vienna')

In [17]:
#Now let's stack all the cleaned/merged city datasets on top of each other to form one coherent dataset
cities = [amsterdam, athens, barcelona, berlin, budapest, lisbon, london, paris, rome, vienna]
europedataset = pd.concat(cities, ignore_index=True)

In [18]:
#Sampling the new Europedataset just to doublecheck this concatenation was performed correctly
europedataset.sample(15)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city
39286,194.749024,Entire home/apt,False,False,3.0,False,0,0,9.0,89.0,...,2.503011,0.110097,227.814013,5.048404,644.224328,14.026577,12.52700,41.88800,weekdays,rome
25711,309.273501,Private room,False,True,4.0,False,1,0,10.0,100.0,...,7.968677,0.656003,146.945364,10.214335,317.076133,5.677513,-0.23639,51.53102,weekdays,london
50418,81.340719,Shared room,True,False,2.0,False,1,0,7.0,90.0,...,3.742389,0.218927,75.587897,5.413106,101.096822,2.443471,16.38058,48.17518,weekends,vienna
35455,236.741542,Private room,False,True,2.0,False,1,0,10.0,100.0,...,2.764815,0.116425,231.725928,11.280340,573.608874,33.704992,2.38907,48.86321,weekdays,paris
38527,289.868580,Entire home/apt,False,False,4.0,False,0,0,10.0,96.0,...,4.568169,0.259500,247.965409,12.057336,535.923449,24.723398,2.34146,48.89698,weekends,paris
30123,129.118747,Private room,False,True,2.0,False,0,1,8.0,79.0,...,5.948835,0.330216,213.526883,14.843086,502.737307,8.998122,-0.20956,51.49296,weekends,london
10646,150.743199,Private room,False,True,2.0,False,0,0,10.0,98.0,...,7.234205,0.450521,82.498497,12.578529,114.336662,23.575437,13.30995,52.52369,weekdays,berlin
8402,109.851747,Private room,False,True,2.0,False,0,1,8.0,85.0,...,3.065557,0.288775,323.380569,11.021331,451.640365,9.941994,2.17138,41.41473,weekdays,barcelona
23375,113.596275,Private room,False,True,2.0,False,0,0,9.0,98.0,...,11.714047,2.728069,108.993781,7.576279,217.854933,3.900874,0.03831,51.48907,weekdays,london
22768,132.176204,Private room,False,True,2.0,False,1,0,10.0,100.0,...,5.095218,0.951993,214.302837,14.896428,452.425071,8.101048,-0.15089,51.46492,weekdays,london
1561,571.555785,Entire home/apt,False,False,2.0,True,1,0,10.0,100.0,...,1.897919,1.908065,199.728139,10.574690,263.961951,23.011146,4.87325,52.38521,weekends,amsterdam
47980,508.732144,Entire home/apt,False,False,5.0,False,0,1,9.0,80.0,...,2.662330,1.278492,847.387211,18.774239,2187.560258,47.661631,12.47019,41.89997,weekends,rome
47566,196.385570,Entire home/apt,False,False,5.0,True,0,0,9.0,93.0,...,4.000072,0.271102,628.572693,13.926307,1248.859098,27.209610,12.45500,41.90800,weekends,rome
4740,194.033698,Entire home/apt,False,False,6.0,True,1,0,10.0,98.0,...,1.213112,0.988683,108.086446,4.072453,157.855860,2.357410,23.74294,37.98471,weekends,athens
7500,593.478716,Entire home/apt,False,False,5.0,False,0,1,10.0,88.0,...,0.777630,0.476021,531.002439,18.097420,1050.753444,23.130317,2.17415,41.39341,weekdays,barcelona

In [19]:
#Importing new csvs to add more GDP-based columns for each respective city onto this europe dataset
citygdp = pd.read_csv('CityListGDP2.csv')

In [20]:
#Checking if all the cities in the eurodataset are in this new citygdp dataset

citygdp[citygdp['City proper/metropolitan area'].isin(['Amsterdam-Rotterdam','Athens','Barcelona', 'Berlin', 'Budapest','Lisbon', 'London', 'Paris', 'Rome', 'Vienna'])]

,Rank,City proper/metropolitan area,Country/region,UNSD\nsub‑region,Official est. GDP\nup to date\n(billion US$),Brookings 2014 est.\nPPP-adjusted GDP\n(billion US$),Metropolitan population,Official est. GDP per capita
13,56,Amsterdam-Rotterdam,Netherlands,Western Europe,223.0 (2015),320.6,"5,800,000 (2022)","38,448.28"
18,139,Athens,Greece,Southern Europe,93.7 (2015),129.623,"3,500,000 (2022)","26,771.43"
29,72,Barcelona,Spain,Southern Europe,173.315 (2017),171.032,"4,900,000 (2022)","35,370.41"
40,53,Berlin,Germany,Western Europe,243.16 (2021),157.706,"4,750,000 (2022)","51,191.58"
59,209,Budapest,Hungary,Central Europe,58.5 (2016),97.957,"2,650,000 (2022)","22,075.47"
245,116,Lisbon,Portugal,Southern Europe,110.0 (2015),125.282,"2,975,000 (2022)","44,444.44"
248,4,London,United Kingdom,Northern Europe,978.402 (2021),835.658,"14,800,000 (2022)","66,108.24"
314,5,Paris,France,Western Europe,934.168 (2021),855.65,"11,400,000 (2022)","81,944.56"
342,77,Rome,Italy,Southern Europe,166.8 (2015),163.243,"4,297,877 (2022)","48,347.83"
424,115,Vienna,Austria,Central Europe,112 (2019),183.712,"2,250,000 (2022)","49,777.78"

In [21]:
#All the cities in my europe dataset are in this citygdp dataset
#let's join the two datasets so the europe dataset merges its columns to include the respective cities' gdps from the new dataset
#However, before doing so, the europe and citygdp datasets have to have the same value names in their city columns
#The city names in the citygdp dataframe are all in uppercase, so let's make it lowercase

In [22]:
citygdp['City proper/metropolitan area'] = citygdp['City proper/metropolitan area'].apply(str.lower)

In [23]:
#Using sample method to check if city names became lowercase
citygdp['City proper/metropolitan area'].sample(10)

213                 johannesburg
134                   gold coast
168            lakeland, florida
380                        surat
264                     medellín
348    saint john, new brunswick
419                   uberlandia
237                   launceston
385                  springfield
406                  thunder bay
Name: City proper/metropolitan area, dtype: object

In [24]:
#Now let's name both dataframe city columns into the same name so that they can be joined

In [25]:
citygdp2 =citygdp.rename(columns={"City proper/metropolitan area": "city"})
citygdp2.head()

,Rank,city,Country/region,UNSD\nsub‑region,Official est. GDP\nup to date\n(billion US$),Brookings 2014 est.\nPPP-adjusted GDP\n(billion US$),Metropolitan population,Official est. GDP per capita
0,129,aachen-liège-maastricht,Germany Belgium Netherlands,Western Europe,NaN,99.728,"3,500,000 (2014) metropolitan population for D...","28,493.71"
1,300+,"abbotsford, british columbia",Canada,North America,6.141 (2019),NaN,"202,497 (2019)","30,321.44"
2,300+,aberdeen,United Kingdom,Northern Europe,23.0 (2020),NaN,"489,840 (2020)","46,957.94"
3,300+,abidjan,Ivory Coast,Africa,27 (2017),NaN,"5,950,000 (2022)","4,537.82"
4,106,abu dhabi,United Arab Emirates,Western Asia,119 (2015),178.256,"1,660,000 (2022)","71,686.75"

In [26]:
#Before merging, cutting out extra columns on citygdp dataset that are no longer needed
#I'm only keeping the city and gdp columns
citygdp3 = citygdp2.loc[:, ['city', 'Official est. GDP\nup to date\n(billion US$)']]

In [27]:
citygdp3.head()

                           city Official est. GDP\nup to date\n(billion US$)
0       aachen-liège-maastricht                                          NaN
1  abbotsford, british columbia                                 6.141 (2019)
2                      aberdeen                                  23.0 (2020)
3                       abidjan                                    27 (2017)
4                     abu dhabi                                   119 (2015)

In [28]:
#Merging the two datasets together
merged = pd.merge(europedataset, citygdp3, how='inner', on='city')

In [29]:
#Using sample method again to doublecheck this merge
merged.sample(15)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city,Official est. GDP\nup to date\n(billion US$)
20855,799.407324,Entire home/apt,False,False,6.0,False,0,1,9.0,91.0,...,0.475564,319.970844,22.241528,734.830904,13.157761,-0.18215,51.51467,weekdays,london,978.402 (2021)
3081,76.629250,Entire home/apt,False,False,4.0,True,0,0,10.0,99.0,...,0.396381,99.782705,3.759587,174.750396,2.609712,23.72300,37.98900,weekends,athens,93.7 (2015)
15176,95.215760,Private room,False,True,2.0,False,1,0,10.0,92.0,...,1.193227,101.250445,3.342711,249.330371,11.150985,-9.16590,38.72801,weekdays,lisbon,110.0 (2015)
30737,637.291453,Entire home/apt,False,False,4.0,False,0,0,9.0,97.0,...,0.027896,472.625012,23.007226,1148.204879,67.467987,2.35268,48.86589,weekdays,paris,934.168 (2021)
16324,96.857411,Private room,False,True,2.0,False,0,1,8.0,83.0,...,0.132356,145.616550,4.807427,389.172052,17.405226,-9.13359,38.72595,weekdays,lisbon,110.0 (2015)
22340,387.826619,Entire home/apt,False,False,4.0,False,0,0,7.0,73.0,...,0.151913,200.188045,13.915293,464.243611,8.312669,-0.18232,51.54768,weekdays,london,978.402 (2021)
33541,711.156678,Entire home/apt,False,False,6.0,False,0,1,9.0,84.0,...,0.445578,453.838045,22.067908,1069.242264,49.326639,2.36100,48.86200,weekends,paris,934.168 (2021)
47739,142.813734,Entire home/apt,False,False,2.0,False,0,0,9.0,94.0,...,0.355102,101.186049,7.246512,112.119178,2.680290,16.32297,48.19591,weekdays,vienna,112 (2019)
28664,578.564877,Entire home/apt,False,False,4.0,False,0,1,10.0,94.0,...,0.375527,541.542483,37.644729,1062.844824,19.023070,-0.14000,51.49300,weekends,london,978.402 (2021)
18044,173.545966,Entire home/apt,False,False,2.0,False,1,0,10.0,91.0,...,0.326157,160.048515,5.278923,495.664449,27.857653,-9.15384,38.71751,weekends,lisbon,110.0 (2015)
8980,139.291390,Private room,False,True,2.0,True,0,0,10.0,99.0,...,0.394350,105.057847,16.018148,138.213264,28.498629,13.44183,52.49729,weekdays,berlin,243.16 (2021)
19020,158.536585,Private room,False,True,2.0,False,0,1,8.0,78.0,...,0.640259,263.681716,8.697085,825.184661,46.377560,-9.14800,38.71100,weekends,lisbon,110.0 (2015)
12480,137.942379,Entire home/apt,False,False,2.0,True,0,0,10.0,97.0,...,0.143414,425.933005,25.400387,513.342531,38.871876,19.06178,47.49101,weekdays,budapest,58.5 (2016)
44391,184.929745,Entire home/apt,False,False,4.0,True,1,0,10.0,92.0,...,0.194691,769.927860,17.058093,1672.809433,36.446459,12.49316,41.89672,weekends,rome,166.8 (2015)
25253,244.831722,Private room,False,True,2.0,True,0,0,10.0,96.0,...,0.335557,473.706135,32.929160,835.897790,14.961114,-0.13804,51.49011,weekends,london,978.402 (2021)

In [30]:
#Let's import another new csv that can add extra features for each respective city
#In this case, we are importing/adding this new csv for its population and area features for each respective euro city
popandarea = pd.read_csv('PopandArea.csv')
popandarea.head()

   CityNo        City     Country  Population  Area in km2
0       1   Amsterdam  Netherland      851573        219.32
1       2      Athens      Greece      664046       2929.00
2       4   Barcelona       Spain     1620809        101.40
3       4      Berlin     Germany     3711930        891.70
4       5  Bratislava    Slovakia      424428        367.60

In [31]:
#Let's clean and wrangle this data like before
poparea2 = popandarea.loc[:, ['City', 'Country', 'Population', 'Area in km2 ']]
poparea2.head()

         City     Country  Population  Area in km2
0   Amsterdam  Netherland      851573        219.32
1      Athens      Greece      664046       2929.00
2   Barcelona       Spain     1620809        101.40
3      Berlin     Germany     3711930        891.70
4  Bratislava    Slovakia      424428        367.60

In [32]:
poparea3 = poparea2.rename(columns={'City':'city'})

In [33]:
poparea3.head()

         city     Country  Population  Area in km2
0   Amsterdam  Netherland      851573        219.32
1      Athens      Greece      664046       2929.00
2   Barcelona       Spain     1620809        101.40
3      Berlin     Germany     3711930        891.70
4  Bratislava    Slovakia      424428        367.60

In [34]:
poparea3['city'] = poparea3['city'].apply(str.lower)

In [35]:
#Let's merge poparea3 with the other dataset
merged2 = pd.merge(merged, poparea3, how='inner', on='city')

In [36]:
#Using sample method to again check this recent merge to see that all columns are added and aligned accurately
merged2.sample(8)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city,Official est. GDP\nup to date\n(billion US$),Country,Population,Area in km2
29565,360.779887,Entire home/apt,False,False,3.0,False,0,0,10.0,100.0,...,334.543505,5.987746,-0.07050,51.56520,weekends,london,978.402 (2021),England,8825000,607.0
27874,124.179778,Private room,False,True,2.0,False,0,0,10.0,98.0,...,267.213621,4.782658,-0.21688,51.44559,weekends,london,978.402 (2021),England,8825000,607.0
25240,376.302359,Private room,False,True,2.0,False,0,1,8.0,71.0,...,1479.725994,26.484517,-0.13700,51.52000,weekends,london,978.402 (2021),England,8825000,607.0
32190,194.333116,Private room,False,True,2.0,False,1,0,10.0,93.0,...,552.952990,32.491262,2.39255,48.85431,weekdays,paris,934.168 (2021),France,2206488,105.4
38331,139.574030,Entire home/apt,False,False,4.0,False,0,1,10.0,90.0,...,628.614156,13.686700,12.49000,41.86400,weekdays,rome,166.8 (2015),Italy,2868782,1285.0
30967,405.676205,Entire home/apt,False,False,2.0,False,0,0,9.0,95.0,...,1012.352572,59.485368,2.36591,48.85367,weekdays,paris,934.168 (2021),France,2206488,105.4
28594,154.989534,Private room,False,True,2.0,True,0,0,10.0,99.0,...,374.093833,6.695628,-0.02364,51.51401,weekends,london,978.402 (2021),England,8825000,607.0
47651,214.804946,Entire home/apt,False,False,4.0,False,0,0,9.0,99.0,...,100.027999,2.391242,16.31982,48.18406,weekdays,vienna,112 (2019),Austria,1889083,414.6

In [37]:
#Let's clean up the column names so that we can more easily perform calculations and other actions on them (I probably should've performed this step way earlier)
#I wrote out the syntax via mulitple lines simply to make it easier to follow all the column names renamed
merged3 = merged2.rename(columns={'realSum':'Price', 'room_type':'Room Type', 'room_shared':'Shared Room', 'room_private':'Private Room',})
merged4 = merged3.rename(columns={'person_capacity':'Person Capacity','host_is_superhost':'Superhost?','multi':'Multi Listing?'})
merged5 = merged4.rename(columns={'biz':'Biz Listing?', 'cleanliness-rating':'Cleaniness Rating', 'guest_satisfaction_overall':'guest satis rating'})
merged6 = merged5.rename(columns={'rest_index':'Rest Index', 'rest_index_norm':'Rest Index Norm', 'lng':'LNG', 'lat':'LAT'})
merged7 = merged6.rename(columns={'Official est. GDP\nup to date\n(billion US$)':'GDP (B USD)'})

In [38]:
#Checking if the columns were renamed
#Also renaming the dataset to eurobnb
eurobnb = merged7
merged7.head()

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,Rest Index,Rest Index Norm,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2
0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,...,78.778377,5.915160,23.76600,37.98300,weekdays,athens,93.7 (2015),Greece,664046,2929.0
1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,96.0,...,407.167696,30.572629,23.73168,37.97776,weekdays,athens,93.7 (2015),Greece,664046,2929.0
2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,98.0,...,395.967403,29.731642,23.72200,37.97900,weekdays,athens,93.7 (2015),Greece,664046,2929.0
3,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,99.0,...,58.706578,4.408047,23.72712,38.01435,weekdays,athens,93.7 (2015),Greece,664046,2929.0
4,74.051508,Private room,False,True,2.0,False,0,0,10.0,100.0,...,113.325973,8.509204,23.73391,37.99529,weekdays,athens,93.7 (2015),Greece,664046,2929.0

In [39]:
#Let's create a new column: Pop Density (population density)
eurobnb['Pop Density (ppl/km2)'] = eurobnb['Population']/eurobnb['Area in km2 ']

In [40]:
#I want to create other new columns by performing calculations on columns
#The GDP (B USD) column has (years) and other object/string formats that prevent calculations
#Have to extract out the years w/in this column to leave only integers so that calculations can then be performed on this column
eurobnb['GDP (B USD)'] = eurobnb['GDP (B USD)'].str[:4]

In [41]:
#Convert this column to numeric to permit calculations etc
eurobnb['GDP (B USD)'] = pd.to_numeric(eurobnb['GDP (B USD)'])

In [42]:
#let's create another new column: GDP per capita
eurobnb['GDP per capita'] = eurobnb['GDP (B USD)']/eurobnb['Population']

In [43]:
eurobnb.sample(5)

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2,Pop Density (ppl/km2),GDP per capita
24900,1174.063360,Entire home/apt,False,False,6.0,True,0,1,10.0,100.0,...,-0.12407,51.51597,weekdays,london,978.0,England,8825000,607.0,14538.714992,0.000111
36980,229.984155,Entire home/apt,False,False,4.0,False,1,0,10.0,98.0,...,2.36849,48.88662,weekends,paris,934.0,France,2206488,105.4,20934.421252,0.000423
41405,251.326772,Entire home/apt,False,False,6.0,False,0,0,9.0,97.0,...,12.45622,41.90716,weekdays,rome,166.0,Italy,2868782,1285.0,2232.515175,0.000058
45593,97.023823,Private room,False,True,2.0,False,0,0,9.0,93.0,...,12.51502,41.88708,weekends,rome,166.0,Italy,2868782,1285.0,2232.515175,0.000058
32082,294.761860,Private room,False,True,3.0,False,1,0,7.0,72.0,...,2.43028,48.84107,weekdays,paris,934.0,France,2206488,105.4,20934.421252,0.000423

In [44]:
#Last check for null values in dataset (I know this should have been the first step..)
eurobnb.isnull().sum()

Price                    0
Room Type                0
Shared Room              0
Private Room             0
Person Capacity          0
Superhost?               0
Multi Listing?           0
Biz Listing?             0
cleanliness_rating       0
guest satis rating       0
bedrooms                 0
dist                     0
metro_dist               0
attr_index               0
attr_index_norm          0
Rest Index               0
Rest Index Norm          0
LNG                      0
LAT                      0
Weekday/Weekend          0
city                     0
GDP (B USD)              0
Country                  0
Population               0
Area in km2              0
Pop Density (ppl/km2)    0
GDP per capita           0
dtype: int64

In [45]:
#Checking for duplicate entries

In [46]:
eurobnb[eurobnb.duplicated() == True]

Empty DataFrame
Columns: [Price, Room Type, Shared Room, Private Room, Person Capacity, Superhost?, Multi Listing?, Biz Listing?, cleanliness_rating, guest satis rating, bedrooms, dist, metro_dist, attr_index, attr_index_norm, Rest Index, Rest Index Norm, LNG, LAT, Weekday/Weekend, city, GDP (B USD), Country, Population, Area in km2 , Pop Density (ppl/km2), GDP per capita]
Index: []

[0 rows x 27 columns]

In [47]:
# Converting GDP per Capita column into 1000s (instead of billions)
eurobnb['GDP per capita'] = eurobnb['GDP per capita'].apply(lambda x: x * 1000000)

# Note: I know I didn't have to use the .apply(lambda x) function here, but just trying out it's syntax

In [48]:
eurobnb.sample(10)

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2,Pop Density (ppl/km2),GDP per capita
2306,77.097931,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,...,23.73000,38.00200,weekdays,athens,93.7,Greece,664046,2929.0,226.714237,141.104683
38710,276.576345,Entire home/apt,False,False,4.0,False,0,0,9.0,92.0,...,12.47900,41.90900,weekdays,rome,166.0,Italy,2868782,1285.0,2232.515175,57.864278
29773,180.860321,Private room,False,True,2.0,False,1,0,10.0,90.0,...,-0.18946,51.48610,weekends,london,978.0,England,8825000,607.0,14538.714992,110.821530
3245,96.313828,Entire home/apt,False,False,4.0,True,0,1,10.0,93.0,...,23.73631,37.98856,weekends,athens,93.7,Greece,664046,2929.0,226.714237,141.104683
46455,196.105930,Entire home/apt,False,False,4.0,False,0,0,10.0,95.0,...,16.35259,48.18479,weekdays,vienna,112.0,Austria,1889083,414.6,4556.398939,59.288025
45216,275.173591,Private room,False,True,2.0,True,1,0,10.0,94.0,...,12.47365,41.90262,weekends,rome,166.0,Italy,2868782,1285.0,2232.515175,57.864278
1070,115.998406,Entire home/apt,False,False,4.0,True,1,0,10.0,98.0,...,23.73648,37.95980,weekdays,athens,93.7,Greece,664046,2929.0,226.714237,141.104683
42508,239.637154,Entire home/apt,False,False,4.0,False,0,0,9.0,94.0,...,12.47700,41.90900,weekends,rome,166.0,Italy,2868782,1285.0,2232.515175,57.864278
37629,176.279429,Entire home/apt,False,False,5.0,False,1,0,9.0,79.0,...,12.52666,41.87622,weekdays,rome,166.0,Italy,2868782,1285.0,2232.515175,57.864278
33305,289.635567,Entire home/apt,False,False,2.0,False,0,0,10.0,89.0,...,2.40081,48.86800,weekdays,paris,934.0,France,2206488,105.4,20934.421252,423.297113

In [49]:
#Note: The gpd per capita column values seem off ...

In [50]:
#This dataset is now ready for further analysis

In [51]:
eurobnb.shape

(49627, 27)

In [57]:
#Saving Dataframe as CSV
eurobnb.to_csv('eurobnb.csv')